# This is a configuration file for FolderBackupUtilFX.
# lines starting with 'exclude' define folders/subfolders or files
# to be excluded from the result ZIP archive file. Files to be excluded
# have to be named with their extensions.

exclude = IGNORE

exclude = .git

exclude = target

exclude = .gitignore

exclude = release

name =

path.to.copy =

path.to.move = E:\___BACKUP


